<div class="container">
    <div class="jumbotron">
        <h4 class="text-center">
            Cloud Storages supported&nbsp;
            <a href="https://www.box.com/" target="_new">
                <img src="/images/logo_boxdotnet.png" class="front-cloud-logos">
            </a>
            <a href="https://www.dropbox.com/" target="_new">
                <img src="/images/logo_dropbox.png" class="front-cloud-logos">
            </a>
            <a href="https://onedrive.live.com/" target="_new">
                <img src="/images/logo_onedrive.png" class="front-cloud-logos">
            </a>
        </h4>

        <div class="row">
            {{#if enableFileManager}}
            <div class="col-md-6">
                <h4>File Manager Mode</h4>
                <!-- image size: width 390px and 500px -->
                <div style="height:400px; background-color:green;">image here</div>
            </div>

            <div class="col-md-6">
                <h4>Deduplication-enabled Mode</h4>
                <!-- image size: width 390px and 500px -->
                <div style="height:400px; background-color:green;">image here</div>
            </div>
            {{else}}
            <div class="col-md-10 col-md-push-1">
                <!-- image size: width 390px and 500px -->
                <div style="height:400px; background-color:green;">image here</div>
            </div>
            {{/if}}
        </div>

        <div class="row text-center front-buttons">
            {{#if _user}}
                <a class="btn btn-success btn-lg" href="/manage">Manage My Account</a>
            {{else}}
                <a class="btn btn-warning btn-lg" href="/signup">Sign Up</a>
            {{/if}}
            <a class="btn btn-primary btn-lg" href="/download-client-osx">Download Mac client</a>
        </div>
    </div>
</div>
