<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="{{app-path}}vaults/">DeDuplicatus</a>
    </div>
    <div class="navbar-right">
        <p class="navbar-text">Signin as <strong>{{username}}</strong></p>
        <button type="submit" id="signout-btn" class="btn btn-warning navbar-btn">Sign Out</button>
    </div>
</nav>