<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="{{app-path}}dashboard/">DeDuplicatus</a>
    </div>
    <div class="navbar-right">
        <p class="navbar-text"><a href="#"><span class="glyphicon glyphicon-question-sign"></span> FAQ</a></p>
        <p class="navbar-text"><a href="#" class="text-info"><span class="glyphicon glyphicon-user"></span> Account: <strong>{{username}}</strong></a></p>
        <button type="submit" id="signout-btn" class="btn btn-warning navbar-btn">Sign Out</button>
    </div>
</nav>