<!DOCTYPE html>
<html lang="en">
    <head>
        {{>header}}
        <!-- CSS Stylesheet -->
        <link rel="stylesheet" href="{{app-path}}css/style.css">
    </head>
    <body>
        {{>navbar}}
        <div class="container">


        </div>

        <script type="text/javascript" src="{{app-path}}js/ui.auth.js"></script>
    </body>
</html>