body {
    background-color: rgb(18, 23, 35);
    background-image: url('/images/cloud_background.jpg');
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-position: bottom;
}

.jumbotron {
   background: rgb(238, 238, 238); /* This is for ie8 and below */
   background: rgba(238, 238, 238, 0.7);
   padding-top: 10px;
   padding-bottom: 20px;
}

.front-buttons {
    margin-top: 20px;
}
img.front-cloud-logos {
    max-height: 48px;
}

div#signup-error {
    padding-top: 60px;
}
